:root {
  font-family: SUIT, "SUIT", Helvetica, Arial, sans-serif;
  font-size: 62.5%;
  line-height: 24px;
  background-color: #e6e6e6;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}
